.container {
  @include container;
  // .container__wrapper

  &__wrapper {
    @include border-radius;
    margin: 0px 0;
  }
}
.cta {

  // .cta__block

  &__block {
    display: flex;
  }

  // .cta__content-wrapper

  &__content-wrapper {
    color: $body-text;
    margin: 43px 0 48px 60px;
    max-width: 592px;
  }

  // .cta__title

  &__title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  // .cta__text

  &__text {
    margin-bottom: 16px;
  }

  // .cta__button

  &__button {
    color: $blue;
    border-radius: 34px;
    border: 1px $blue solid;
    padding: 12px 34px;
    background-color: #fff;
    &:hover{
      background-color: $blue;
      color: #fff;
    }
  }

  // .cta__image

  &__image {
    background-image: url('../image/banner_outside-conditioner-unit.png');
    margin: 25px auto;
    width: 250px;
    height: 232px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.banner {

  // .banner__image-bg

  &__image-bg {
    background-image: url('../image/banner_bg_cta.jpg');
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
  }
}

.container {
  @include container;
  &__wrapper__banner {
    @include border-radius;
    margin: 0px 0;
    .banner {
      &__block {
        display: flex;
      }
      &__image-bg {
        background-image: url('../image/banner_bg_desktop.jpg');
        background-position: left;
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
      }
      &__content-wrapper {
        color: $text-white;
        margin: 32px 115px 0 32px;
        min-width: 186px;
        max-width: 581px;
        .baner-image-logo {
          width: 129px;
          height: 49px;
          display: inline-block;
          background-repeat: no-repeat;
          background-image: url('../image/logo_banner_white.svg');
        }
        &__title {
          margin: 9px 0 8px 0;
        }
        &__text {
          margin: 0;
          font-weight: 500;
        }
      }
      &__image {
        background-image: url('../image/banner_room-air-conditioner.png');
        margin: 26px auto;
        width: 409px;
        height: 208px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

  }

}