//footer
.container {
  @include container;
  a {
    text-decoration: none;
    color: $body-text;
  }
  .gird__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 32px 0;
    column-gap: 24px;
    &_col-1 {
      grid-area: 1 / 1 / 2 / 2;
      .col-wrapper {
        .logo {
          width: 164px;
          height: 48px;
          display: inline-block;
          background-image: url('../image/logo.svg');
          background-repeat: no-repeat;
          background-position: center;
         }
      }
    }
    &_col-2 {
      grid-area: 1 / 2 / 2 / 3;


    }
    &_col-3 {
      grid-area: 1 / 3 / 2 / 4;
    }
    &_col-4 {
      grid-area: 1 / 4 / 2 / 5;
    }
    .icon-btn {
      &__wrapper {
       display: flex;
       max-width: 240px;
       justify-content: space-between;
        a {
        width: 48px;
        height: 48px;
        @include border-radius;
        }
      }
      &__instagram {
        @include icon-footer;
        background-color: rgba(230, 81, 0, 0.1);
        background-image: url('../image/icon_instagram.svg');
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
          background-image: url('../image/icon_instagram_hover.svg');
        }
      }
      &__telegram {
        @include icon-footer;
        background-color: rgba(91, 164, 255, 0.1);
        background-image: url('../image/icon_telegram.svg');
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
          background-image: url('../image/icon_telegram_hover.svg');
        }
      }
      &__youtube {
        @include icon-footer;
        background-color: rgba(217, 28, 28, 0.1);
        background-image: url('../image/icon_youtube.svg');
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
          background-image: url('../image/icon_youtube_hover.svg');
        }
      }
      &__facebook {
        @include icon-footer;
        background-color: rgba(47, 128, 237, 0.1);
        background-image: url('../image/icon_facebook.svg');
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
          background-image: url('../image/icon_facebook_hover.svg');
        }
      }

    }
  }
}
