//color guide variable-list
$body-color: #F7F7F6;
$dropdown-btn: #2585CD;
$filter-bg-active: #2585CD;
$filter-bg-disable: #F2F2F2;
$filter-border: #E0E0E0;
$show-more: #F2F2F2;
$show-more-text:#4F4F4F;
$banner-btn-border: #2585CD;
$text-blue: #2585CD;
$text-white:#FFFFFF;
$filter-text-disable: #828282;
$body-text: #4F4F4F;
$nav-elements-text: #828282;
$footer-elements-text: #828282;
$search-placeholder: #BDBDBD;
$search-background: #F7F7F6;
$lang-bg: #F7F7F6;
$cart-btn-bg: #F2F2F2;
$blue: #2585CD;
//
